{% extends "layout.html" %}

{% block nav %}
<nav>
    <a href="/games" class="btn btn-outline-secondary">Games</a>
    <a href="/user/logout" class="btn btn-outline-secondary">Logout</a>
</nav>
{% endblock %}

{% block body %}

<div class="row">
    <div class="col mx-auto">

        <div id="game_id" style="display:none">{{ this_game.id }}</div>
        
        <div class="my-3" style="display:flex; justify-content: space-between;">
            <div>
                {% if this_game.current_is_white and this_game.is_current_player_turn %}
                <div style="display:flex; align-items: center;">White: You 
                    <div class="greendot"></div>
                </div>
                {% elif this_game.current_is_white %}
                <div style="display:flex; align-items: center;">White: You 
                    <div class="reddot"></div>
                </div>
                {% else %}
                <div>White: {{ this_game.current_opponent.full_name}}</div>
                {% endif %}
            </div>

            {# display move number, and check or check-mate #}
            <div>
                Move {{ this_game.move_number}}
                {% if this_game.status == 2 %} - <span style="color:red">Check</span>
                {% elif this_game.status == 3 %} - <b>Draw offered</b>
                {% elif this_game.status == 4 %} - <b>Draw</b>
                {% elif this_game.status == 5 %} - <b>Resigned</b>
                {% elif this_game.status == 6 %} - <span style="">Check mate</span>
                {% endif %}
            </div>
        </div>
        
        
        {# display the current board #}
        {% for row in this_game.tiles_array_of_tuples %}
        {% set outer_loop = loop %}
        <div style="display:flex">
            {% for tile in row %}
            {% set inner_loop = loop %}
            {% set css_id = (outer_loop.index - 1) ~ (inner_loop.index - 1) %}

                {# light tiles #}
                
                {% if (outer_loop.index + inner_loop.index) % 2 == 1 %}
                {% if this_game.is_current_player_turn and this_game.current_is_white and tile[0] == 'w'%}
                <div  id="{{ css_id }}" class="tile light pointer" onclick="grab(this)">
                    {% elif this_game.is_current_player_turn and not this_game.current_is_white and tile[0] == 'b'%}
                    <div  id="{{ css_id }}" class="tile light pointer" onclick="grab(this)">
                        {% else %}
                        <div  id="{{ css_id }}" class="tile light">
                            {% endif %}

                {# dark tiles #}
                
                {% else %}
                    {% if this_game.is_current_player_turn and this_game.current_is_white and tile[0] == 'w'%}
                    <div  id="{{ css_id }}" class="tile dark pointer" onclick="grab(this)">
                    {% elif this_game.is_current_player_turn and not this_game.current_is_white and tile[0] == 'b'%}
                    <div  id="{{ css_id }}" class="tile dark pointer" onclick="grab(this)">
                    {% else %}
                    <div  id="{{ css_id }}" class="tile dark">
                    {% endif %}
                {% endif %} 

                {# tile[2] is unicode for chess piece #}

                {{ tile[2] }}
                </div>

            {% endfor %}
        </div>
        {% endfor %}
        
        <div class="mt-3">
            {% if this_game.current_is_white %}
            <div>Black: {{ this_game.current_opponent.full_name}}</div>
            {% elif this_game.is_current_player_turn %}
            <div style="display:flex; align-items: center;">Black: You <div class="greendot"></div></div>
            {% else %}
            <div style="display:flex; align-items: center;">Black: You <div class="reddot"></div></div>
            {% endif %}
        </div>
        
   
        <!-- active games have status: 1, 2, 3  -->
        {% if this_game.status < 4 %}
            {% if this_game.is_current_player_turn %}
                <p class="mt-3">It is your turn</p>          
            {% else %}
                <p class="mt-3">It is {{ this_game.current_opponent.first_name }}'s turn</p>
            {% endif %}
        {% endif %}

        
        <div style="display:flex; justify-content: space-between;">
            <button id="submit_btn" class="btn btn-success" onclick="submit()" style="display:none">Submit</button>
            <button id="undo_btn" class="btn btn-secondary" onclick="undo_move()" style="display:none">Undo</button>
        </div>
    </div>
</div>

<script src="/static/js/play.js">

</script>

{% endblock %}