.container {
    /* designed for phone 
    * with 12px padding leaves 366px for chess board
    * with tiles of size 45 x 45px 
    */
    width: 384px; 
    font-family: 'Roboto', sans-serif;
}

.navbar h1 {
    font-size: 1.7em;
    font-family: 'Roboto Condensed', sans-serif;
}

.container h1 h2 h3 h4 h5 h6 {
    font-family: 'Roboto Condensed', sans-serif;
}
.btn {
    font-family: 'Roboto Condensed', sans-serif;
}
.tile {
    width:45px; 
    height:45px; 
    text-align:center; 
    line-height:45px; 
    font-size: 45px; 
    font-family: -apple-system, sans-serif; 
}
.light {
    background-color: white;
}
.dark {
    background-color: #ddd;
}

.active.dark {
    background-color: rgb(180,137,105);
}

.active.light {
    background-color: rgb(238,218,185);
}
.pointer {
    cursor:pointer
}
.greendot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: green;
    margin-left: 6px;
}
.reddot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: red;
    margin-left: 6px;
}
.whitedot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #eee;
    border: solid 1px black;
    margin-left: 6px;
}